* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.wrapper {
    padding: 20px 40px;
}
.header {
    color: orange;
    font-style: italic;
}
.title {
    width: 50%;
    font-size: 30px;
    margin: 40px 0;
}
.card {
    display: inline-block;
    width: 45%;
}
.col-1 {
    float: left;
}
.col-2 {
    float: right;
}
img {
    width: 250px;
    height: 165px;
    float: left;
    margin-right: 30px;
}
.img-desc {
    display: inline-block;
    width: 250px;
    height: 150px;
}
.img-desc h3 {
    margin-bottom: 15px;
}
footer {
    clear: both;
    text-align: right;
    padding: 100px 50px 20px 0;
}

@media(max-width:480px) {
    .wrapper {
        padding: 10px 20px;
    }
    .header {
        color: orange;
        font-style: italic;
    }
    .title {
        width: 100%;
        font-size: 20px;
        margin: 20px 0;
    }
    .card {
        width: 100%;
        margin: 10px 0;
    }
    img {
        width: 100%;
    }
    .img-desc {
        width: 100%;
        margin: 10px 0;
        text-align: justify;
    }
    .img-desc h3 {
        margin-bottom: 15px;
    }
    footer {
        clear: both;
        text-align: right;
        padding: 20px 10px 20px 0;
    }
}